.ui-main {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.75);
}

.ui-container {
    padding: 2rem;
    text-align: left;
    overflow: auto;
}
